    <!-- Navigation-->
    <aside class="navigation">
        <nav>
            <ul class="nav luna-nav">
                 <li class="active">
                    <a href="./main_page" >
                        Summary
                    </a>
                </li>
                
				<li >
                    <a href="#documents" data-toggle="collapse" aria-expanded="false">
                        Documents<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
                    <ul id="documents" class="nav nav-second collapse">
                            <li ><a href="./upload">Upload</a></li>                        
                        <li ><a href="./digitalized">Digitization</a></li>
                        <li><a href="./classification">Document Classification</a></li>
                        <!--<li><a href="./fallback_language">Fallback Analysis</a></li>
                        <li><a href="./non_fallback_language">IBOR Terms</a></li>-->
                        <li><a href="./data_model">Information Extraction & Data Model</a></li>
                    </ul>
                </li>
				
				

                <!--<li>
                    <a href="#bi_reporting" data-toggle="collapse" aria-expanded="false">
                        BI Reporting<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
                    <ul id="bi_reporting"  class="nav nav-second collapse">
                        <li><a href="./bi_reporting">Syndicate Loans</a></li>
                        <li><a href="./mortgage">Mortgage</a></li>
                        <li><a href="./isda">ISDA</a></li>
						<li>
                    <a href="./fallback_language" >
                        Fallback Language 
                    </a>
                </li>
                    </ul>
                </li>-->

                <!-- <li class=" ">
                    <a href="./fallback_language" >
                        Fallback Analysis
                    </a>
                </li> -->

                <li class=" ">
                    <a href="./bi_reporting" >
                        BI Reporting
                    </a>
                </li>


				
				<li>
                    <a href="./exceptionmgmt" >
                        Exception </br>Management 
                    </a>
                    
                </li>
				<li>
                    <a href="./contract_lifecycle">
                        Contract Lifecycle Management 
                    </a>
                    
                </li>
                <!--<li>
                    <a href="#fallback_language" data-toggle="collapse" aria-expanded="false">
                        Fallback Language<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
                    <ul id="fallback_language" class="nav nav-second collapse">
                        <li><a href="Fallback_Language.html">Syndicate Loans</a></li>
                        <li><a href="Fallback_Language_mortgage.html">Mortgage</a></li>
                        <li><a href="Fallback_Language_isda.html">ISDA</a></li>
                    </ul>
                </li>-->
               

                
                <li class="nav-info">
                    <!--<i class="pe pe-7s-shield text-accent"></i>-->

                    <div class="m-t-xs">
                        <span class="c-white">EY Business Intelligence</span> Dashboard for monitoring and reporting.
                    </div>
                </li>
            </ul>
        </nav>
    </aside>
    <!-- End navigation-->
