<div class="btn-group pull-right">
    <button class="btn btn-default btn-xs"><a href="/normalization_0" style="color: white;">Eligible Collateral </a></button>
    <button class="btn btn-default btn-xs"><a href="/norm_trans_fixed" style="color: white;">Minimum Transfer Amount </a></button>
    <button class="btn btn-default btn-xs"><a href="/FX_Haircut" style="color: white;">FX Haircut </a></button>\
    <button class="btn btn-default btn-xs"><a href="/norm_ATE" style="color: white;">Additional Termination Event </a></button>
</div>